#!/bin/bash

# Adding SSH key
mkdir -p /home/ec2-user/.ssh
cat <<FILE > /home/ec2-user/.ssh/authorized_keys
ssh-rsa AAAAEXAMPLEyc2EAAAADAQABAAABAQCxz1G2vfqCabgFNZiL/timcrISitT4ShZP0iB4G1F+tFRM7tEXAMPLEeKLJoGsB5mMueqQb34lVt+ieodNKnEXAMPLEvnJ7bTGqGxNhAuLZJdPHEB5/teFmEXAMPLEIVQt0SeB0XXLgAUIp+FS7MVyywDdViLqHWexxFN9Nrd6nPAj0fLV9DRIwe7nRccj+R4HvGIC7rQ060QCDCssYiZT/FVihNcPfohQA1JlNGao/lXLkSivwtl0pEDECyzs2KULS+9mc5Bz0Ap1Liskoa5V9umz8LhA9WLqNaCtt6fWQurPAd5lpEXAMPLE user@host
FILE
chown ec2-user.ec2-user /home/ec2-user/.ssh/authorized_keys
chmod 400 /home/ec2-user/.ssh/authorized_keys

# Installing AWS CLI
yum install aws-cli -y

# Downloading bootstrap script and starting it
aws s3 cp s3://${s3_bucket_name}/bootstrap-scripts/jenkins_bootstrap_script.sh /tmp && sh /tmp/jenkins_bootstrap_script.sh
